<div class="separacion container-fluid">
    <div class="row">
        <h1>Proyectos realizados</h1>
        <div class="contenedor">
            <div class="info">
                <h4>Proyecto Argentina Programa - PORFOLIO</h4>
                <p>Año 2022</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quisquam libero blanditiis dolore eius quasi! Culpa eos quos rerum beatae maxime magnam dicta error voluptatem atque, veritatis soluta inventore illo!</p>
                <p class="link"><a href="#">link al proyecto</a></p>

            </div>
            <div class="info">
                <h4>Proyecto integrador WORDPRESS</h4>
                <p>Año 2021</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quisquam libero blanditiis dolore eius quasi! Culpa eos quos rerum beatae maxime magnam dicta error voluptatem atque, veritatis soluta inventore illo!</p>
                <p class="link"><a href="http://cintia04.atwebpages.com/">link al proyecto</a></p>
            </div>
        </div>
    </div>
</div>